#Ignore compiled objects and libraries
*.o
*.lo
*.la
*.so
*.swp
*.pyc
*~
compile

#Ignore user specific rtxi files
Makefile.dynamo_compile
Makefile.plugin_compile
Makefile.plugin_example
hdf/rtxi_hdf_matlabize
hdf/rtxi_hdf_reader
src/rtxi_config.h
src/rtxi_config.h.in
rtxi.conf
src/rtxi
scripts/init_rtxi
scripts/rtxi_comedi
scripts/rtxi_plugin_config

#Ignore files extracted from bundled tarballs
deps/qwt-*/
deps/hdf5-*/
deps/git/*
deps/*
					 
#Ignore qt generated mocs
moc_*

#Ignore automake files
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h?
.deps/
.dirstamp
.libs/
