.idea/
.vs/
.vscode/
build/
cmake/open-cpp-coverage.cmake
cmake-build-*/
prefix/
CMakeLists.txt.user
CMakeUserPresets.json

#Ignore user specific rtxi files
src/rtxi
tests/rtxiTests
docs/*
coverage/*

#Ignore qt generated mocs
moc_*

.deps/
.dirstamp
.libs/
*.d
